
.main_header {
    text-align: center;
}

.map {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 2px blue solid;
}

.foto {
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 300px;
}
.form {
    margin: 0 auto;
}
.video-container{
    width: 350px;
    height: 300px;
    border: 2px solid red;
    margin: 0 auto;
}