
.main_header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: #F8F8F8FF;
    border: 2px solid red;
}

.my_map {
    width: 800px;
    height: 400px;
    /*max-width: 600px;*/
    /*max-height: 600px;*/
    margin: 0 auto;
    border: 2px blue solid;
}

.foto {
    margin: 0 auto;
    display: block;
    max-width: 400px;
    max-height: 300px;
}
.form {
    max-width: 350px;
    max-height: 300px;
    margin: 0 auto;
}
.video-container{
    max-width: 350px;
    max-height: 300px;
    border: 2px solid red;
    margin: 0 auto;
}
.page_header{
    display: block;
}